body{
display: flex;
flex-direction: column;
gap: 20px;
}

body button{
max-width: 15rem;
background-color: blue;
color: white;
}

.boxes{
    border: solid red 2px;
    max-width: 15rem;
    text-align: center;
}

.formClass{
display: flex;
flex-direction: column;
max-width: 15rem;
gap: .5rem;
}

.cardClass{
    display: flex;
}